/*GENERAL CSS*/
*{
    box-sizing:border-box;
}
body{
    font-size:14.35px;
    font-family:segoe;

}
#wrapper{
    width:1250px;
    margin:0 auto;
}
/* MARGINS EN PADDINGS*/
.w-40{
    width:40%;
}
.w-60{
    width:60%;
}
.w-100{
    width:100%;
}

/*COLORS*/
.ctekstmain{
    color:#909090;/*tekstkleur*/
}
.cbgmain{
    background:#909090;/*tekstkleur*/
}
.ctekstblue{
    color:#5094f2;
}
.cbgblue{
    background:#5094f2;
}
/* FONTS */
@font-face {
    font-family: myriad;
    src: url('../webfonts/MYRIADPRO-REGULAR.woff');
}
@font-face {
    font-family: segoe;
    src: url('../webfonts/SegoeWPN.woff');
}
/* POSITIONING CSS*/
/* Display Flex */
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

/* Flex Direction */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Justify Content */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/* Align Items */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* Align Content */
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

/* Align Self */
.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

/* Order */
.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

/* Grow and Shrink */
.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}
.text-center{
    text-align:center;
}
/* NAVIGATION MENU */
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration:none;
    color:#909090;
    padding:10px;
}

nav ul li a:hover{
    color:#5094f2;
    border-bottom:3px solid #5094f2;
}


/*SECTION LATEST NEWS*/
h2{
    font-size:42.35px;
    font-family:myriad;
}
h3{
    font-size:20.35px;
}
.latestnewsp{
    width:248px;
}
.latestnewsmargin{
    margin:30px 0px;
}
#pencil,#basket,#pc{
    border-radius:50%;
}

#basket{
    background:#ebbb11;
}
#pc{
    background:#d94748;
}

/* SECTION SPORT*/
 #sportdivblue{
     border:20px solid blue;
 }
 #sportdivorange{
     border:20px solid orange;
 }
 #sportdivred{
     border:20px solid red;
 }
/* FOOTER */
footer{
    border-top:1px solid #909090;
}
footer p{
    padding:35px 0px;
    margin:0px;
}